@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
@import "reset.css";

html {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
}

.container {
 position: absolute;
 z-index: 10;
 display: inline-flex;
 justify-content: space-between;
 width: 100%;
 max-width: 1850px;
 margin: auto;

}

.menu {
  display: block;
  box-sizing: border-box;
  margin-left: 40px;
}

.menu a, .logo a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 0 15px;
  line-height: 90px;
}

.gradient {
  display: inline-block;
  background: linear-gradient(#291A15 2%, #7494D3 53%, #E2B8E6 100%);
  height: 100vh;
}

.oval1 {
  position: relative;
  height: 68%;
  width: 68%;
  border-radius: 50%;
  background: #FC4A27;
  transform: rotate(37.78deg);
  left: 76vh;
  top: 16vh;
}

.oval2 {
  position: relative;
  border-radius: 50%;
  background: #FC4A27;
  transform: rotate(140deg);
  top: -35.8vh;
  height: 55.2%;
  left: -9vh;
  width: 52.8%;
}

.oval3 {
  position: relative;
  border-radius: 50%;
  background: #FC4A27;
  top: -58vh;
  height: 35%;
  left: 65.6vh;
  width: 29%;
}

.text1 {
  position: relative;
  top: -138vh;
  height: 40%;
  width: 46%;
  left: 20vh;
}

h1 {
  color: black;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
}

.first_h1 {
  position: relative;
  width: 860px;
  top: -165.5vh;
  left: 22.5vh;
}

.text2 {
  position: relative;
  top: -180vh;
  height: 50%;
  width: 40%;
  left: 45vh;
}

.first_h2 {
  position: relative;
  width: 800px;
  top: -210vh;
  left: 47vh;
}
.purple {
  background-color: #E2B8E6;
  position: relative;
  height: 121vh;
  width: 100vw;
}
.brown {
  position: absolute;
  top: 5.8vh;
  width: 100vw;
}
.second_text {
  position: relative;
  top: 18vh;
  border-radius: 25px;
  max-width: 540px;
  left: 20vh;
  background-color: white;
  filter: drop-shadow(7px 6px 50px rgba(0, 0, 0, 0.15));
}
.second_text p {
  padding: 15px 15px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
.blue {
  background-color: #8EA5EB;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fig {
  text-align: center;
  position: absolute;
  width: 100vw;
  margin-top: 4vh;

}
.blue_pic {
  width: 80vw;
}

.text_blue1 {
  left: 29vh;
  z-index: 99;
  top: 33.5vh;
  position: absolute;
}

.text_blue1 img {
  width: 14vw;
}

.blue p {
  z-index: 999;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  line-height: 29px;
  width: 250px;
}

.first{
  left: 30vh;
  top: 35vh;
}

.text_blue2 {
  position: absolute;
  z-index: 99;
  left: 63.5vh;
  top: 31vh;
}

.text_blue2 img {
  width: 14vw;
}

.second {
  left: 65vh;
  top: 32.5vh;
}

.text_blue3 {
  position: absolute;
  z-index: 99;
  left: 39.5vh;
  top: 54.5vh;
}

.text_blue3 img {
  width: 12vw;
}

.third {
  left: 41vh;
  top: 56.6vh;
}

.text_blue4 {
  position: absolute;
  z-index: 99;
  left: 67vh;
  top: 59vh;
}

.text_blue4 img {
  width: 16vw;
}

.fourth {
  left: 68.5vh;
  top: 60.6vh;
}

.end {
  background: linear-gradient(180deg, #000000 0%, #E83A22 51.04%, #E3D8AB 92.19%);
  position: relative;
  height: 100vh;
}

.gradient_last {
 position: absolute;
 width: 100vw;
}

.form {
  display: flex;
  z-index: 99;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  top: 65vh;
}

input[type="text"] {
  display: block;
  width: 470px;
  position: relative;
  margin: 5px auto 10px;
  height: 30px;
  padding: 0 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
}

.send {
  background: #8EA5EB;
  border-radius: 35px;
  color: white;
  border: none;
  height: 57px;
  font-size: 24px;
  font-weight: bold;
  width: 15vw;
  margin: 30px auto 50px;
  cursor: pointer;

}


.form p {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}
